/* Global */
* {
  box-sizing: border-box;
}

body {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/nasty_fabric.png");
  font-family: 'Original Surfer', cursive;
}

/* Controls */
.toggle {
  margin: 0 20px;
}

.button {
  border-radius: 50%;
  font-size: 1.5em;
  background-color: lightgray;
  cursor: pointer;
}

/* Text & Switches */
#switches {
  position: absolute;
  margin-left: 26px;
  margin-top: 110px;
}

.text1 {
  position: absolute;
  margin-left: 19px;
  margin-top: 142px;
}

.text1 span:last-child {
  padding-left: 70px;
}

.text2 {
  position: absolute;
  margin-left: 83px;
  margin-top: 197px;
}

#title {
  position: absolute;
  font-size: 40px;
  margin-left: 35px;
  margin-top: 40px;
}

#turn {
  position: absolute;
  background: #330000;
  color: red;
  font-family: monospace;
  font-size: 20px;
  height: 30px;
  width: 50px;
  margin-left: 90px;
  margin-top: 170px;
  text-align: center;
  line-height: 30px;
}

/* Outer Circle */
#outer-circle {
  background: #385a94;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  position: relative;
  border: 10px solid #000;
  margin: 60px auto;
  box-shadow: 8px 8px 15px 5px #888;
}

/* Simon Pads */
#topleft,
#topright,
#bottomleft,
#bottomright {
  position: absolute;
  height: 250px;
  width: 250px;
  border: 5px solid #000;
}

#topleft {
  border-radius: 250px 0 0 0;
  background: darkgreen;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
}

#topright {
  border-radius: 0 250px 0 0;
  background: darkred;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 0;
}

#bottomleft {
  border-radius: 0 0 0 250px;
  background: goldenrod;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -250px;
}

#bottomright {
  border-radius: 0 0 250px 0;
  background: darkblue;
  top: 50%;
  left: 50%;
  margin: 0;
}

/* Inner Circle */
#inner-circle {
  position: absolute;
  background: grey;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 10px solid #000;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
}
